* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

/* Body */
body {
  background-color: white;
  font-family: Grandis;
  font-size: 12px;
  color: #647a8c;
  font-family: 'Grandis';
}

.main_zones__control__block {
  display: none;
}

.orientation {
  display: none;
}
/* Headlines */
h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 10px;
  text-align: left;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #475270;
}

.status-text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: 10px;
  width: 180px;
}

/*main */
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

/* /Logo */
.main-logo {
  display: none;
}
.header-logo {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.logo {
  max-height: 80px;
  justify-self: left;
}

/* Museum control */

.main_museum {
  border-radius: 8px;
  box-shadow: 0 2px 4px #647a8c;
  width: 300px;
  background-color: white;
  z-index: 999;
}

/* paddings for museum toggle */

.main_museum__control {
  padding-left: 10px;
  padding-right: 10px;
}

/* Zones */
.main_museum__htext {
  padding-top: 30px;
  padding-bottom: 25px;
}
.main_zones_h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  border-radius: 8px;
  width: 100%;
}

.main_zones__content__image {
  display: none;
}
.main_zones__control__zone__name {
  display: none;
}
.main_zones__control__zone {
  display: none;
}

.main_zones__content {
  border-radius: 8px;
  border: solid 1px #475270;
  width: 300px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.main_zones__content__click{
  cursor: pointer;
}

.main_zones__control__status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  padding-top: 25px;
  justify-content: space-between;
}

/* Buttons */
.button {
  background-color: initial;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 4px #475270;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  color: #475270;
  transition: background-color 0.3s ease;
}

.button:active {
  background-color: #475270;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.overlay {
  display: none;
}

.button_modal {
  margin-left: 8px;
  margin-right: 8px;
  max-width: 93px;
}

.button_modal:hover {
  cursor: pointer;

}

.h2_modal {
  width: 62px
}
/* Tablet & desktop */
@media only screen and (min-width: 450px) {
  .header-logo {
    position: relative;
    left: 20%;
  }
}

@media only screen and (min-width: 768px) {
  /* Main */
  .main {
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-template-rows: auto;
    padding-right: 0rem;
  }

  /* Logo */
  .header-logo {
    display: none;
  }
  .main-logo {
    display: block;
    grid-column: 1/1;
    grid-row: 1/1;
    margin-top: 2rem;
  }

  /* Museum control */
  .main_museum {
    align-self: stretch;
    grid-column: 2/2;
    grid-row: 1/20;
    padding: 20px;
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 40px;
    padding-top: 40px;
    border-radius: 0px;
    box-shadow: 0 2px 4px #647a8c;
    clip-path: inset(0px 0px 0px -15px);
    background-color: white;
    z-index: 999;
    min-height: 100vh;
  }

  .main_museum__block {
    width: max-content;
    position: fixed;
    right: 20px;
    top: 50px;
  }

  /* Zones */

  .main_zones {
    grid-row: 3/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .main_zones__content {
    width: 260px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #647a8c;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    display: block;
    text-align: center;
  }
  .main_zones__content__click{
    cursor: pointer;
  }

  .main_zones__content__image {
    display: block;
  }

  .img {
    width: 115px;
    height: 105px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .main_zones__control__block {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px; /* (240px / 2) + 40px */
    border-radius: 8px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 4px #000000;
  }

  /* Headlines */

  .main_zones_h1 {
    display: block;
    grid-row: 2/2;
    margin-top: 30px;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #475270;
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #475270;
  }

  .main_museum__control {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10px;
  }

  .main_zones__control__zone {
    display: grid;
  }
  .main_zones__control__zone__close {
    justify-self: end;
    cursor: pointer;
  }


  .close {
    width: 10px;
    height: 10px;
  }

  .main_zones__control__zone__name {
    display: block;
  }

  .main_zones__control__block {
    display: none;
    z-index: 990;
  }

  .overlay {
    display: contents;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .overlay-gray {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
}

@media (orientation: landscape) and (max-height: 450px) {
  .main {
    display: none;
  }
  .header {
    display: none;
  }
  .orientation {
    display: block;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 100%;
  }
  H1 {
    font-size: 48px;
  }
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/LatoBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LatoRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Grandis';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Grandis-Regular.woff') format('woff2');
}

@font-face {
  font-family: 'Grandis';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Grandis-Medium.woff') format('woff2');
}
@font-face {
  font-family: 'Grandis';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Grandis-Light.woff') format('woff2');
}


/* modal */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal-dialog {
  box-sizing: content-box;
  width: 300px;
  border-radius: 8px;
  border: solid 1px #475270;
  background: white;
  padding: 20px;
  display: block;
  box-shadow: 0 4px 4px #000000;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.main_zones__control__zone {
  display: grid;
}
.main_zones__control__zone__name {
  display: block;
}
.main_zones__control__zone__close {
  justify-self: end;
  cursor: pointer;
}

.modal-buttons{
  display: flex;
  justify-content: center;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #475270;
}
.close {
  width: 10px;
  height: 10px;
}


@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}